force-app/main/default/flows/Compare_Vehicles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CompareVehicleNames</name>
        <label>CompareVehicleNames</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVehicleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicles_Defintions</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Vehicle_Details</name>
        <label>Verify Vehicle Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vehicles_Defintions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Definitions</targetReference>
            </connector>
            <label>is not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Compare Vehicles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Vehicle Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vehicle_Definitions</name>
        <label>Get Vehicle Definitions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicles_Defintions.VehicleDefinitionId</elementReference>
            </value>
        </filters>
        <object>VehicleDefinition</object>
        <outputReference>VarVehicleDefinitionDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DoorCount</queriedFields>
        <queriedFields>DrivetrainSystem</queriedFields>
        <queriedFields>MaximumGrossWeight</queriedFields>
        <queriedFields>BatteryCapacity</queriedFields>
        <queriedFields>MaximumBatteryRange</queriedFields>
        <queriedFields>Fuel_Type__c</queriedFields>
        <queriedFields>Body_Style__c</queriedFields>
        <queriedFields>Seats__c</queriedFields>
        <queriedFields>Test_Drive_Eligible__c</queriedFields>
        <queriedFields>Image_URL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicles_Defintions</name>
        <label>Get Vehicle Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Vehicle_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varVehicleName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CompareVehicleNames</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarVehicleDefinitionDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
    <variables>
        <name>varVehicleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
