force-app/main/default/flows/Electra_Get_Nearest_Showrooms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_nearest_showrooms</name>
        <label>Get nearest showrooms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GeolocationDealerFinder</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>zipCode</name>
            <value>
                <elementReference>var_ZipCodes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeolocationDealerFinder</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>verify</name>
        <label>verify Zip code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_verify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ZipCodes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_nearest_showrooms</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Electra Get Nearest Showrooms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Electra Get Nearest Showrooms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>verify</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_ZipCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
