force-app/main/default/flows/Electra_Car_Update_Test_Drive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Updated_TestDrive_Booking</name>
        <label>Assign Updated TestDrive Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedBookingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingTestDriveRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Decision to check whether vehicle change is required or not?</description>
        <name>Change_of_Vehicle</name>
        <label>Change of Vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Booking_Slot_for_Preferred_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Booking Slot Change</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Change_with_Date_and_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestDriveVehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreferredDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreferredSlot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Booking_Slot</targetReference>
            </connector>
            <label>Vehicle Change with Date and Time</label>
        </rules>
        <rules>
            <name>Only_Vehicle_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestDriveVehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreferredSlot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreferredDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Test_Drive_with_Vehicle</targetReference>
            </connector>
            <label>Only Vehicle Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Electra Car {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Electra Car Update Test Drive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Booking_Slot</name>
        <label>Create Booking Slot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Test_Drive_with_Preferred_Vehicle_and_Slot</targetReference>
        </connector>
        <inputAssignments>
            <field>Dealership__c</field>
            <value>
                <elementReference>Get_Test_Drive_Record.Dealership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Date__c</field>
            <value>
                <elementReference>PreferredDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Time_Slot__c</field>
            <value>
                <elementReference>PreferredSlot</elementReference>
            </value>
        </inputAssignments>
        <object>Booking_Slot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Booking_Slot_for_Preferred_Time</name>
        <label>Create Booking Slot for Preferred Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Test_Drive_Record_with_Slot</targetReference>
        </connector>
        <inputAssignments>
            <field>Dealership__c</field>
            <value>
                <elementReference>Get_Test_Drive_Record.Dealership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Date__c</field>
            <value>
                <elementReference>PreferredDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Time_Slot__c</field>
            <value>
                <elementReference>PreferredSlot</elementReference>
            </value>
        </inputAssignments>
        <object>Booking_Slot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Test_Drive_Record</name>
        <label>Get Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_of_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingTestDriveRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Test_Drive_Record_with_Slot</name>
        <label>Update Test Drive Record with Slot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Updated_TestDrive_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingTestDriveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Slot__c</field>
            <value>
                <elementReference>Create_Booking_Slot_for_Preferred_Time.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>ResheduleNotes</elementReference>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Drive_with_Preferred_Vehicle_and_Slot</name>
        <label>Update Test Drive with Preferred Vehicle and Slot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Updated_TestDrive_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingTestDriveRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Slot__c</field>
            <value>
                <elementReference>Create_Booking_Slot.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealership__c</field>
            <value>
                <elementReference>TestDriveVehicle.CurrentOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Vehicle__c</field>
            <value>
                <elementReference>TestDriveVehicle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>ResheduleNotes</elementReference>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Test_Drive_with_Vehicle</name>
        <label>Update Test Drive with Vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Updated_TestDrive_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dealership__c</field>
            <value>
                <elementReference>TestDriveVehicle.CurrentOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Vehicle__c</field>
            <value>
                <elementReference>TestDriveVehicle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>ResheduleNotes</elementReference>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ExistingTestDriveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <description>Preferred Date for Test Drive</description>
        <name>PreferredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreferredSlot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResheduleNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Vehicle for Test Drive</description>
        <name>TestDriveVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle</objectType>
    </variables>
    <variables>
        <description>Test Drive Record with Updated Details</description>
        <name>UpdatedBookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
</Flow>
