force-app/main/default/flows/Electra_Car_Get_Test_Drive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Active_Lead_Available</name>
        <label>Is Active Lead Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Lead Not Available</defaultConnectorLabel>
        <rules>
            <name>Lead_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Booking_Records_By_Active_Lead</targetReference>
            </connector>
            <label>Lead Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Booking_Id_Available</name>
        <label>Is Booking Id Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BookingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Booking_Record_By_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Electra Car Get Test Drive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Electra Car Get Test Drive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Lead</name>
        <label>Get Active Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Active_Lead_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Record_By_Id</name>
        <label>Get Booking Record By Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingId</elementReference>
            </value>
        </filters>
        <object>TestDrive__c</object>
        <outputReference>BookingRecord</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Booking_Status__c</queriedFields>
        <queriedFields>Preferred_Date_BS__c</queriedFields>
        <queriedFields>Preferred_Slot_BS__c</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>Booking_Slot__c</queriedFields>
        <queriedFields>Test_Drive_Zip_Code__c</queriedFields>
        <queriedFields>New_Vehicle_Name__c</queriedFields>
        <queriedFields>Dealership_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Records_By_Active_Lead</name>
        <label>Get Booking Records By Active Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Lead.Id</elementReference>
            </value>
        </filters>
        <object>TestDrive__c</object>
        <outputReference>BookingRecords</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Booking_Status__c</queriedFields>
        <queriedFields>Booking_Slot__c</queriedFields>
        <queriedFields>Preferred_Slot_BS__c</queriedFields>
        <queriedFields>Preferred_Date_BS__c</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>Test_Drive_Zip_Code__c</queriedFields>
        <queriedFields>New_Vehicle_Name__c</queriedFields>
        <queriedFields>Dealership_Name__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Booking_Id_Available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>BookingId of the Test Drive</description>
        <name>BookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <name>BookingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
