force-app/main/default/flows/Get_Showroom_Vehicles_in_Selected_Zip_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decision to identify search either by using zip code or vehicle name</description>
        <name>Is_Search_By_Vehicle_Name</name>
        <label>Is Search By Vehicle Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Showroom_Vehicle_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VehicleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Showroom_Vehicles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Showroom Vehicles in Selected Zip Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Showroom Vehicles in Selected Zip Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Showroom Vehicles by Name</description>
        <name>Get_All_Showroom_Vehicles</name>
        <label>Get All Showroom Vehicles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VehicleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Test_Drive_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Showroom_Vehicle__c</object>
        <outputReference>ShowroomVehicleRecords</outputReference>
        <queriedFields>showroom_Name__c</queriedFields>
        <queriedFields>Showroom_Zip_Code__c</queriedFields>
        <queriedFields>Vehicle_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Showroom_Vehicle_Record</name>
        <label>Get Existing Showroom Vehicle Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Showroom_Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZipCode</elementReference>
            </value>
        </filters>
        <object>Showroom_Vehicle__c</object>
        <outputReference>ShowroomVehicleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Showroom_Zip_Code__c</queriedFields>
        <queriedFields>showroom_Name__c</queriedFields>
        <queriedFields>Vehicle_Name__c</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Search_By_Vehicle_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExistingBookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ShowroomVehicleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Showroom_Vehicle__c</objectType>
    </variables>
    <variables>
        <name>VehicleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
