force-app/main/default/flows/Get_Existing_Test_Drive_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Booking_Record</name>
        <label>Assign Booking Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BookingRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking_Record_by_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Test_Drive</name>
        <label>Assign Test Drive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BookingRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Test_Drive_Booking_Details</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Booking_Id_Available</name>
        <label>Is Booking Id Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Booking Id Available</defaultConnectorLabel>
        <rules>
            <name>Booking_Id_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Booking_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Booking_Record_by_Id</targetReference>
            </connector>
            <label>Booking Id Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Available</name>
        <label>Lead Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Test_Drive_Booking_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Existing Test Drive Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Existing Test Drive Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Lead</name>
        <label>Get Active Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_Record_by_Id</name>
        <label>Get Booking Record by Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Booking_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Booking_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Booking_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Preferred_Date_BS__c</queriedFields>
        <queriedFields>Preferred_Slot_BS__c</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>Booking_Slot__c</queriedFields>
        <queriedFields>Test_Drive_Zip_Code__c</queriedFields>
        <queriedFields>New_Vehicle__c</queriedFields>
        <queriedFields>New_Vehicle_Name__c</queriedFields>
        <queriedFields>Dealership_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Test_Drive_Booking_Details</name>
        <label>Get Existing Test Drive Booking Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Drive</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Lead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Booking_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Confirmation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Preferred_Date_BS__c</queriedFields>
        <queriedFields>Preferred_Slot_BS__c</queriedFields>
        <queriedFields>Booking_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>Test_Drive_Zip_Code__c</queriedFields>
        <queriedFields>New_Vehicle__c</queriedFields>
        <queriedFields>New_Vehicle_Name__c</queriedFields>
        <queriedFields>Dealership_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Booking_Id_Available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Booking_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BookingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <name>BookingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
