force-app/main/default/flows/Get_Showroom_Vehicle_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Both_Empty_Showroom</name>
        <label>Route_Search_Logic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>varShowroom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShowroomName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varVehicleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ShowRoomVehicles_Records</targetReference>
            </connector>
            <label>Both_Provided</label>
        </rules>
        <rules>
            <name>Showroom_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShowroomName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varVehicleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ShowRoom_Records</targetReference>
            </connector>
            <label>Showroom_Only</label>
        </rules>
        <rules>
            <name>Vehicle_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShowroomName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varVehicleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicles_Records</targetReference>
            </connector>
            <label>Vehicle_Only</label>
        </rules>
        <rules>
            <name>Both_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVehicleName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varShowroomName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Show_Room_Vehicles_Records</targetReference>
            </connector>
            <label>Both Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Showroom Vehicle Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Showroom Vehicle Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Show_Room_Vehicles_Records</name>
        <label>Get All Show Room Vehicles Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Test_Drive_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle</object>
        <outputReference>out_JunctionRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Showroom_Zip_Code__c</queriedFields>
        <queriedFields>showroom_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VehicleDefinitionId</queriedFields>
        <queriedFields>CurrentOwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ShowRoom_Records</name>
        <label>Get ShowRoom Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>showroom_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varShowroomName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Showroom_Zip_Code__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varShowroomName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Test_Drive_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle</object>
        <outputReference>out_JunctionRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Showroom_Zip_Code__c</queriedFields>
        <queriedFields>showroom_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VehicleDefinitionId</queriedFields>
        <queriedFields>CurrentOwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ShowRoomVehicles_Records</name>
        <label>Get ShowRoomVehicles Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>showroom_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varShowroomName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Showroom_Zip_Code__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varShowroomName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varVehicleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Test_Drive_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle</object>
        <outputReference>out_JunctionRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Showroom_Zip_Code__c</queriedFields>
        <queriedFields>showroom_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VehicleDefinitionId</queriedFields>
        <queriedFields>CurrentOwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicles_Records</name>
        <label>Get Vehicles Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varVehicleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Test_Drive_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Vehicle</object>
        <outputReference>out_JunctionRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Showroom_Zip_Code__c</queriedFields>
        <queriedFields>showroom_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VehicleDefinitionId</queriedFields>
        <queriedFields>CurrentOwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Both_Empty_Showroom</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>out_JunctionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle</objectType>
    </variables>
    <variables>
        <name>varShowroomName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
