force-app/main/default/flows/Is_Booking_Slots_Available.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Booking_Slots_Count</name>
        <label>Assign Booking Slots Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BookingSlotsSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Booking_Slots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingTestDriveRecord.Dealership__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Is Booking Slots Available {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Is Booking Slots Available</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Booking_Slots</name>
        <label>Get Existing Booking Slots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Booking_Slots_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preferred_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreferredDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Preferred_Time_Slot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreferredSlot</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingTestDriveRecord.Dealership__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking_Slot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Booking_Slots</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BookingSlotsSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ExistingTestDriveRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TestDrive__c</objectType>
    </variables>
    <variables>
        <name>PreferredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreferredSlot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
