force-app/main/default/flows/Send_Confirmational_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Confirmation_Message</name>
        <label>Send Confirmation Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Electra_Car_Test_Drive_Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;CustomerName&quot;,
    &quot;textValue&quot;: &quot;{!LeadName}&quot;
  },
  {
    &quot;name&quot;: &quot;VehicleType&quot;,
    &quot;textValue&quot;: &quot;{!VehicleModel}&quot;
  },
  {
    &quot;name&quot;: &quot;Date&quot;,
    &quot;dateValue&quot;: &quot;{!Date}&quot;
  },
  {
    &quot;name&quot;: &quot;Time&quot;,
    &quot;textValue&quot;: &quot;{!Time}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>MessagingUserIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MessagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Lead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Preferred_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Preferred_Time_Slot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VehicleModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Message</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send Confirmational Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Confirmational Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Confirmation_Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <object>TestDrive__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
