force-app/main/default/flows/Send_TestDrive_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Confirmation</name>
        <label>Send Email Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>varLead.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>sangushiva@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!varEmailBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Channel</name>
        <label>Check_Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_TestDrive_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email</defaultConnectorLabel>
        <rules>
            <name>WhatsApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead.Preferred_Channel__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WhatsApp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TestDrive_Confirmed_for_WhatsApp</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
        <rules>
            <name>SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead.Preferred_Channel__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLead.Preferred_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TestDrive_Confirmed</targetReference>
            </connector>
            <label>SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Lead_Email</name>
        <label>Verify Lead Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLead.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Confirmation</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; &amp; {!varLead.FirstName} &amp; &quot;, &quot; &amp; BR() &amp; BR() &amp;
&quot;Your Electra Cars test drive is confirmed! Here are your booking details:&quot; &amp; BR() &amp; BR() &amp;
&quot;Vehicle: &quot; &amp; {!varVehicle.Name} &amp; BR() &amp;
&quot;Date: &quot; &amp; TEXT({!$Record.Preferred_Date__c}) &amp; BR() &amp;
&quot;Time Slot: &quot; &amp; TEXT({!$Record.Preferred_Time_Slot__c}) &amp; BR() &amp;
&quot;Dealership: &quot; &amp; {!varDealership.Name} &amp; BR() &amp;
&quot;Address: &quot; &amp; {!varDealership.BillingStreet} &amp; &quot;, &quot; &amp; {!varDealership.BillingCity} &amp; &quot; &quot; &amp; {!varDealership.BillingPostalCode} &amp; BR() &amp;
&quot;Phone: &quot; &amp; {!varDealership.Phone} &amp; BR() &amp;
&quot;Booking Ref: &quot; &amp; {!$Record.Name} &amp; BR() &amp; BR() &amp;
&quot;To cancel or reschedule, please reply to this email. See you soon!&quot;</expression>
    </formulas>
    <formulas>
        <name>varSMSBody</name>
        <dataType>String</dataType>
        <expression>&quot;Electra Cars: Hi &quot; &amp; {!varLead.FirstName} &amp; &quot;, your &quot; &amp; {!varVehicle.Name} &amp; &quot; test drive on &quot; &amp; TEXT({!$Record.Preferred_Date__c}) &amp; &quot; at &quot; &amp; {!varDealership.Name} &amp; &quot; is confirmed. Ref: &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>varWhatsAppBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; &amp; {!varLead.FirstName} &amp; &quot;, your Electra &quot; &amp; {!varVehicle.Name} &amp; &quot; test drive is confirmed for &quot; &amp; TEXT({!$Record.Preferred_Date__c}) &amp; &quot; (&quot; &amp; TEXT({!$Record.Preferred_Time_Slot__c}) &amp; &quot;) at &quot; &amp; {!varDealership.Name} &amp; &quot;. Ref: &quot; &amp; {!$Record.Name} &amp; &quot;. Reply CANCEL to cancel.&quot;</expression>
    </formulas>
    <interviewLabel>Send TestDrive Confirmation&lt; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send TestDrive Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dealership_Record</name>
        <label>Get Dealership Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varDealership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>varLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Preferred_Channel__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Record</name>
        <label>Get Vehicle Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealership_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Vehicle__r.Id</elementReference>
            </value>
        </filters>
        <object>Vehicle</object>
        <outputReference>varVehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_TestDrive_Confirmed</name>
        <label>Update TestDrive Confirmed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Lead_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Channel__c</field>
            <value>
                <elementReference>varLead.Preferred_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TestDrive_Confirmed_for_WhatsApp</name>
        <label>Update TestDrive Confirmed for WhatsApp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Booking_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Channel__c</field>
            <value>
                <elementReference>varLead.Preferred_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Confirmation</stringValue>
            </value>
        </filters>
        <object>TestDrive__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>customerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your Electra Cars Test Drive is Confirmed!</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle</objectType>
    </variables>
    <variables>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
