force-app/main/default/flows/Send_Test_Drive_Confirmation_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Confirmation_Message</name>
        <label>Send Confirmation Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Update_Test_Drive_Record_To_Confirmed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Electra_Car_Test_Drive_Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;CustomerName&quot;,
    &quot;textValue&quot;: &quot;{!LeadName}&quot;
  },
  {
    &quot;name&quot;: &quot;VehicleType&quot;,
    &quot;textValue&quot;: &quot;{!vehicleModel}&quot;
  },
  {
    &quot;name&quot;: &quot;Date&quot;,
    &quot;dateValue&quot;: &quot;{!date}&quot;
  },
  {
    &quot;name&quot;: &quot;Time&quot;,
    &quot;textValue&quot;: &quot;{!slotTime}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>messagingUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_The_Parameters</name>
        <label>Assign The Parameters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Lead__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Showroom_Vehicle__r.Vehicle_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Preferred_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slotTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Preferred_Time_Slot__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Message</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send Test Drive Confirmation Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Test Drive Confirmation Message To WhatsApp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Drive_Record</name>
        <label>Get Test Drive Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_The_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testDriveId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TestDrive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Test_Drive_Record_To_Confirmed</name>
        <label>Update Test Drive Record To Confirmed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Test_Drive_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>TestDrive__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Test_Drive_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Messaging User Id</description>
        <name>messagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Messaging Session Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slotTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Test drive Id</description>
        <name>testDriveId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
