force-app/main/default/flows/Send_Reminder_to_Preferred_Channels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Reminder</name>
        <label>Send Email Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Lead__r.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>noreply@electracars.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>f_EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Hi {!$Record.Lead__r.FirstName} {!$Record.Lead__r.LastName}&lt;/p&gt;&lt;p&gt;This is a reminder for your test drive today!&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Vehicle: {!$Record.New_Vehicle__c}&lt;/li&gt;&lt;li&gt;Date: {!$Record.Preferred_Date_BS__c}&lt;/li&gt;&lt;li&gt;Time Slot: {!$Record.Preferred_Slot_BS__c}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Dealership: {!$Record.Dealership__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Address&lt;/span&gt;: {!$Record.Dealership__r.BillingAddress}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Booking Ref&lt;/span&gt;: {!$Record.Name}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(240, 242, 245); font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(10, 10, 10);&quot;&gt;We look forward to seeing you soon.&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_WhatsApp_Reminder</name>
        <label>Send WhatsApp Reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collMessagingUserIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_WhatsApp_Reminder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Prefferred_Channel</name>
        <label>Prefferred Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Confirmation_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Reminder</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>WhatsApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Confirmation_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WhatsApp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_User</targetReference>
            </connector>
            <label>WhatsApp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder: Your Test Drive for &quot; + {!$Record.New_Vehicle__c} + &quot; at &quot; + {!$Record.Dealership__c} + &quot; is today!&quot;</expression>
    </formulas>
    <interviewLabel>Send Reminder to Preferred Channels {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Reminder to Preferred Channels</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__r.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Preferred_Date_BS__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Preferred_Slot_BS__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TestDrive__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_Reminder_to_Customer_Before_6_Hours</name>
            <connector>
                <targetReference>Prefferred_Channel</targetReference>
            </connector>
            <label>Send Reminder to Customer Before 6 Hours</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Data_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>tt_SMS_Reminder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(240, 242, 245); font-size: 14px; font-family: monospace; color: rgb(10, 10, 10);&quot;&gt;Hi {!$Record.Lead__r.FirstName} {!$Record.Lead__r.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(240, 242, 245); font-size: 14px; font-family: monospace; color: rgb(10, 10, 10);&quot;&gt;Reminder: Your test drive for the {!$Record.New_Vehicle__c} at {!$Record.Dealership__c} is today in the {!$Record.Preferred_Slot_BS__c} slot!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(240, 242, 245); font-size: 14px; font-family: monospace; color: rgb(10, 10, 10);&quot;&gt;Address: {!$Record.Dealership__r.BillingAddress}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collMessagingUserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
